body {
    color: #d3d3d3;
    font: 12pt arial;
    background-color: #ffffff;
  }

#mynetwork {
    width: 100%;
    height: 500px;
    border: none;
    background-color: None;
  }

* {
    padding: 0;
    margin: 0;
}

.menu {
    position: absolute;
    background: rgba(0, 0, 0, 0.4);
    border-radius: 5px;
    left: -99999px;
    top: -999999px;
}

.menu ul {
    list-style: none;
    margin-top: 5px;;
    margin-bottom: 5px;
    margin-left: 15px;
    margin-right: 15px;
}

.menu ul li {
    padding: 5px 5px;
    color: #ffff;
    /* border-bottom: 1px solid #ffffff; */
    font-size: 14px;
    cursor: pointer;
    list-style: none;
    height: 30px;

    vertical-align: center;
    text-align: center;
}

/* .menu ul li:hover {
    color: #659bc5;
} */

/* .menu ul li:last-child {
    border-bottom: none;
    padding: 5px 10px 0 10px;
} */